@font-face {
    font-family: "blondefont";
    src: url("fontok/Blonde.otf") format("opentype");
}
@font-face{
    font-family: "trenchfont";
    src: url("fontok/compactablkbt_black.ttf") format("truetype");
}
@font-face{
    font-family: "astroworldfont";
    src: url("fontok/Tomato\ Regular.ttf") format("truetype");
}
@font-face{
    font-family: "heartbreakfont";
    src: url("fontok/Engravers\'\ Gothic\ Regular.otf") format("opentype");
}
@font-face{
    font-family: "minecraftfont";
    src: url("fontok/Minecraftia-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "taboofont";
    src: url("fontok/Verve.ttf") format("truetype");
}
@font-face{
    font-family: "tabooshadowfont";
    src: url("fontok/VerveShadow.ttf") format("truetype");
}
@font-face{
    font-family: "flumefont";
    src: url("fontok/EndlessJourneyJNL.ttf") format("truetype");
}
@font-face{
    font-family: "iammusicfont";
    src: url("fontok/Swiss\ 911\ Compressed\ Regular.otf") format("opentype");
}
@font-face{
    font-family: "helveticafont";
    src: url("fontok/Helvetica.ttf") format("truetype");
}
@font-face{
    font-family: "helveticaboldfont";
    src: url("fontok/Helvetica-Bold.ttf") format("truetype");
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "helveticafont", Helvetica, Arial, sans-serif;
    line-height: 1;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
.divider{
    height: 2vw;
    background-color: black;
}

body{
    background-color: black;
}
nav{
    height: 2vw;
    background-color: black;
}


.sound-container{
    width: 20vw;
    height: 20vw;
    margin: auto;
    margin-top: 15vw;
}
/* Base styles */
.sound-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
/* Playing */
.sound-button.playing {
    background-image: url(kepek/playing-white.png);
    mix-blend-mode: difference;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
/* Hover when not playing */
.sound-button.not-playing:hover {
    background-image: url(kepek/play-white.png);
    mix-blend-mode: difference;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
/* Hover when playing */
.sound-button.playing:hover {
    background-image: url(kepek/pause-white.png);
    mix-blend-mode: difference;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}


/* Full-screen loading overlay */
#loading-screen {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: center;
    font-size: 13vw;
    font-weight: bold;
}
#loading-screen p{
    font-size:11vw;
    font-family: "iammusicfont";
}
/* Optional: Add a simple loading animation */
.loader {
    width: 20vw;
    height: 20vw;
    animation: spin 3s linear infinite;
}
.loader img{
    width: 100%;
    height: 100%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Prevent scrolling */
body.no-scroll {
    overflow: hidden;
}





#blonde-titlecard{
    height:30vw;
    text-align: center;
    position: relative; /* To position the video inside */
    overflow: hidden; /* Optional: To hide any video overflow */
}
#blonde-video{
    position: absolute; /* Position the video relative to the parent container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Offset the video by its own size to center it */
    width: 100%;
}
#blonde-titlecard>h1{
    color:white;
    mix-blend-mode: normal;
    position: relative;
    font-size: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 1.5;
    font-family: "blondefont", sans-serif;
}
#blonde-titlecard>h2{
    color:white;
    mix-blend-mode: normal;
    position: relative;
    font-size:2vw;
}
#blonde-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
#blonde-cover{
    width:100%;
    aspect-ratio: 1 / 1;
    background-image: url(kepek/blonde.png);
    background-size: contain;
}
#blonde-article-article{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    overflow: hidden;
    padding: 1vw;
}
#blonde-top{
    height: 29vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
#blonde-top-left>h1{
    text-align: right;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 3.8vw;
    margin-right: 0.9vw;
}
#ivy-1{
    color: #f2b938;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-right: 0.9vw;
    text-align: right;
}
#blonde-top-left>img{
    width: 85%;
    margin-left: 1.5vw;
    margin-top: 0.5vw;
}
#ivy-2{
    color: #850073;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 1.7vw;
    margin-top: 0.2vw;
}
#blonde-mydesc{
    font-family: "helveticafont";
    font-size: 1.1vw;
    margin-top: 0.5vw;
}
#blonde-image-container{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
    gap: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
#blonde-image-container>div{
    display: grid;
    place-items: center;
}
#blonde-favs{
    font-family: "helveticafont";
    font-size: 1vw;
    text-align: center;
}
#blonde-favs *{
    text-decoration: none;
    color: black;
}


/*                               blonde article másodic design
#blonde-article-article{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    overflow: hidden;
    background-image: url(kepek/blonde-2.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center top 13vw;
}
#blonde-article a, #blonde-article p, #blonde-favs{
    text-decoration: none !important;
    color: black;
}
#blonde-top{
    height: 44vw;
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
    overflow: hidden;
}
#blonde-top-middle{
    padding-top: 1vw;
}
#blonde-top-left>h1{
    text-align: right;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 2.7vw;
    margin: 0.5vw;
    margin-top: 1vw;
}
#ivy-1{
    color: #f2b938;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 1.7vw;
    margin: 0.5vw;
    margin-top: 1vw;
}
#ivy-2{
    color: #f2b938;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 2vw;
    margin: 0.5vw;
    margin-top: 2vw;
}
#blonde-bottom{
    height: 6vw;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr 1.4fr;
    text-align: center;
}
#blonde-bottom>*{
    width: 100%;
    height: auto;
}
#blonde-globe{
    height: 5vw;
    width: auto;
    margin: auto;
    margin-top: 0vw;
}
#blonde-mydesc{
    text-align: right;
    font-family: "helveticafont";
    font-size: 1.1vw;
    padding-right: 0.5vw;
}
#blonde-favs{
    text-align: left;
    font-family: "helveticafont";
    font-size: 1.3vw;
}
*/
/*                                  blonde article eredeti design
#blonde-article-article{
    background-color: white;
    overflow: hidden;
    background-image: url(kepek/blonde-7.png);
    background-size: 70%;   
    background-repeat: no-repeat;
    background-position: top 2vw left 0vw;
}
#blonde-article-article-top{
    display: grid;
    grid-template-columns: auto 23vw;

    background-image: url(kepek/blonde-2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom 4vw left 2.4vw;
}
#blonde-article-article-top-left>h1{
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 2.5vw;
    margin-top: 0.3vw;
}
#blonde-mydesc{
    font-family: "helveticafont";
    font-size: 1.5vw;
    margin-top: 2.3vw;
    margin-left: 8vw;
    margin-right: 0.3vw;
    text-align: right;
}
#ivy-1{
    color: #f2b938;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 3vw;
    margin-top: 0.3vw;
}
#ivy-2{
    color: black;
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 0.8vw;
    margin-top: 8.5vw;
    margin-left: 3vw;
    margin-right: 19vw;
    text-align: right;
}
#blonde-article-article-top-right{
    padding-top: 1vw;
}
#blonde-article-article-top-right>img{
    width: 22vw;
    height: auto;
}
#blonde-article-article-bottom{
    font-family: "helveticafont";
    text-align: right;
    margin-top: 1.5vw;
    margin-right: 5vw;
    font-size: 0.9vw;
}
#blonde-article-article-bottom *{
    text-decoration: none;
    color: black;
}
#boys-dont-cry-container{
    position: relative;
}
#boys-dont-cry{
    width: 10vw;
    height: auto;
    position: absolute;
    top: -6vw;
    left: 13vw;
}
*/




#trench-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#trench-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#trench-titlecard>#og{
    color:rgb(256, 242, 2);
    mix-blend-mode: normal;
    filter: blur(0.1vw);
    font-size:12vw;
    margin-top: 2vw;
    margin-bottom:0px;
    line-height: 1.2;
    font-family: "trenchfont", sans-serif;
}
#trench-titlecard>h2{
    color:rgb(219, 219, 219);
    mix-blend-mode: normal;
    position: relative;
    font-size:2vw;
}
#trench-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#trench-cover{
    background-image: url(kepek/trench.png);
    width:100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
}
#trench-article-article{
    background-color: black;
    filter: blur(0.04vw);
}

.trench-parallax-container {
    border-left: 2vw solid black;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.trench-parallax-bg {
    position: absolute;
    top: 0vw;
    left: 0;
    width: 100%;
    height: 168%; /* Larger to allow movement */
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url('kepek/trench-11.png');
    background-size: cover;
    background-position: center;
    transform: translateY(0); /* Start at normal position */
    will-change: transform;
}
.trench-overlay {
    position: absolute; /* Places it on top */
    top: 0; /* Aligns to the top */
    left: 0; /* Aligns to the left */
    width: 100%;
    height: 100%;
    padding: 0vw;
}
#trench-verse-box{
    padding: 3vw;
    padding-bottom: 2vw;
}
.trench-verse{
    font-family: "trenchfont";
    font-size: 2.0vw;
    color: rgb(256, 242, 2);
}
#trench-tape{
    width: 100%;
    height: auto;
 }
#trench-below-tape{
    height:100%;
    padding: 3vw;
    padding-top: 0.5vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-image: url(kepek/trench-10t.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: top 0vw left 0vw;

}
#pilots{
    margin-top: 9.5vw;
    mix-blend-mode: difference;
}
#trench-below-tape p{
    font-size: 2vw;
    font-family: "trenchfont";
    color: white;
    text-align: center;
}
#trench-lore{
    font-size: 1.0vw !important;
    margin-top: 1vw;
}
#top-logos{
    width:100%;
    height: auto;
    padding-top: 1vw;
}
#trench-fav { padding-top: 5vw; }
#trench-fav h1, #trench-fav ul *{
    color: #716a52;
    mix-blend-mode: difference;
    text-align: center;
    font-family: "trenchfont";
    font-size: 2vw;
    text-decoration: none;
}






#iammusic-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#iammusic-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#iammusic-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size: 13vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2vw;
}
#iammusic-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#iammusic-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#iammusic-cover{
    width:100%;
    aspect-ratio: 1 / 1;
    background-image: url(kepek/iammusic.png);
    background-size: contain;
}
#iammusic-article-article{
    background-color: black;
    color: white;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    background-image: url(kepek/blonde-6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#iammusic-article-article *{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
#iammusic-article-article>*{
    overflow: hidden;
    height:100%;
    width:100%;
}   
#iammusic-article-article-favorite *{
    font-size: 1.5vw;
    text-align: right;
    color: white;
    text-decoration: none;
}
#iammusic-article-article-favorite{
    height: 100%;
    width: 100%
}
#iammusic-article-article-favorite h1{
    margin-top: 55%;
}
#iammusic-article-article-p{
    font-size: 1.1vw;
    text-align: left;
    margin-top: 0.1vw;
    margin-right: 5.5vw;
    margin-left: 0.1vw;
    width: auto;
    color: white;
}
#iammusic-article-article-3words *{
    font-size: 2.9vw;
    font-family: "iammusicfont";
    color: white;
}
#iammusic-article-article-3words{
    padding-top: 3.8vw;
    padding-bottom: auto;
}




#hithisisflume-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#hithisisflume-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#hithisisflume-titlecard>h1{
    color:#f36722;
    mix-blend-mode: normal;
    position: relative;
    font-size: 10vw;
    margin-top: 2vw;
    margin-bottom:0px;
    line-height: 1.1;
    font-family: 'Georgia', 'Garamond', 'Cambria', 'Palatino Linotype', 'Book Antiqua', 'Constantia', 'Times New Roman', "flumefont";
    font-style: italic;
}
#hithisisflume-titlecard>h2{
    color:#898989;
    mix-blend-mode: normal;
    position: relative;
    font-size:2vw;
}
#hithisisflume-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#flume-cover{
    width:100%;
    aspect-ratio: 1 / 1;
    background-image: url(kepek/hithisisflume.png);
    background-size: cover;
}
#hithisisflume-article-article{
    background-color: back;
    display: grid;
    grid-template-columns: 7fr 9fr;
    width: 100%;
    aspect-ratio: 1 / 1;
}
#hithisisflume-article-article-left{
    background-color: pink;
}
#flume-article-article-left-top{
    height: 11vw;
    background-color: #a38c02;
    background-image: url(kepek/hithisisflume-4.png);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 5vw;
}
#flume-article-article-left-top>img{
    width: 100%;
    height: auto;
    margin-top: 5vw;
}
#hithisisflume-article-article-right{
    background-color: #f36722;
    overflow: hidden;
    background-image: url(kepek/hithisisflume-5.png);
    background-repeat: no-repeat;
    background-position: top 0vw right 0;
    background-size: 5vw;
}
#hithisisflume-article-article-right>ol{
    margin-left: 3.5vw;
    margin-top: 1vw;
    background-image: url(kepek/hithisisflume-1.png);
    background-repeat: no-repeat;
    background-position: bottom 3vw right 0vw;
    background-size: 14vw;
}
#flume-article-article-left-middle{
    height: 12vw;
    background-image: url(kepek/hithisisflume-8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#flume-article-article-left-middle>img{
    width: 5vw;
}
#flume-article-article-left-bottom{
    background-color: #1a768b;
    height: calc(100% - 11vw - 12vw);
    background-image: url(kepek/hithisisflume-3.png);
    background-repeat: no-repeat;
    background-position: bottom 0vw right 0;
    background-size: 5vw;
    padding: 0.5vw;
}
#flume-article-article-left-bottom>p{
    color: white;
    font-size: 2.8vw;
    font-family: 'Palatino Linotype', 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#flume-p2{
    color: #d283b7 !important;
    font-size: 1.5vw !important;
    font-family: "flumefont", 'Playfair Display', serif !important;
    font-style: normal !important;
    margin-top: 0.8vw;
}
#hithisisflume-article-article-right>ol>li{
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
}
#hithisisflume-article-article-right>ol *{
    font-size: 1.8vw;
    font-family: 'Georgia';
    color: #063bb4;
    text-decoration: none;
}
.flume-tracklist-fav, .flume-tracklist-fav *{
    color: white !important;
}





/*                                        astroworld
#astroworld-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#astroworld-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#astroworld-titlecard>h1{
    color:rgb(139,23,129);
    filter: blur(0.1vw);
    mix-blend-mode: normal;
    font-size:10vw;
    margin-top: 3vw;
    margin-bottom:0px;
    line-height: 1.1;
    font-family: "astroworldfont";
}
#astroworld-titlecard>h2{
    color:rgb(70, 70, 70);
    filter: blur(0.04vw);
    mix-blend-mode: normal;
    position: relative;
    font-size:2vw;
}
#astroworld-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#astroworld-cover{
    background-image: url(kepek/astroworld.png);
    width:100%;
    aspect-ratio: 1 / 1;
    background-size: contain;
}
#astroworld-article-article{
    background-image: url(kepek/astroworld-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#astroworld-article-article-top{
    height: 70%;
}
*/





#heartbreak-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#heartbreak-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#heartbreak-titlecard>h1{
    color:red;
    mix-blend-mode: normal;
    position: relative;
    font-size:5.7vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    line-height: 1.3;
    font-family: "heartbreakfont";
    letter-spacing: 1.65vw;
}
#heartbreak-titlecard>h2{
    color:rgb(195,204,203);
    mix-blend-mode: normal;
    position: relative;
    font-size:2vw;
}
#heartbreak-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#heartbreak-cover{
    background-image: url(kepek/808s&heartbreak.png);
    width:100%;
    aspect-ratio: 1 / 1;
    background-size: contain;
}
#heartbreak-article-article{
    background-image: linear-gradient(to right, rgba(194, 206, 206, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/808s&heartbreak-2.png);
    background-repeat: no-repeat;
    background-size: 134%;  
    background-position: center left 0vw;
    display: grid;
    grid-template-columns: 2.2fr 3fr;
}
#heartbreak-left img{
    width: 17.5vw;
    margin: 1.3vw;
    border-radius: 0.5vw;    
}
#heartbreak-desc{
    font-family: "heartbreakfont";
    font-size: 1.8vw;
    color: white;
    margin-right: 7vw;
}
#heartbreak-favs *{
    font-family: "heartbreakfont";
    color: #676f71;
    font-size: 1.8vw;
    text-decoration: none;
}




#minecraft-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#minecraft-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#minecraft-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:6vw;
    margin-top: 3.5vw;
    margin-bottom: 1vw;
    line-height: 1.7;
    font-family: "minecraftfont";
}
#minecraft-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    position: relative;
    font-size:2vw;
}
#minecraft-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#minecraft-cover{
    background-image: url(kepek/minecraft-volumealpha.png);
    width:100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
}
#minecraft-article-article{
    background-color: white;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
#minecraft-article-article *{
    font-family: "minecraftfont";
    color: white;
}
#minecraft-top{
    background-color: rgba(255, 0, 0, 0.397);
    height: 60%;
    display:grid;
    grid-template-rows: 1fr 2fr;
}
#minecraft-top-grass{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(kepek/minecraft-5.png);
    background-size: 20%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: hidden;
}
#minecraft-top-grass img{
    image-rendering: pixelated;
}
#minecraft-top-grass>h1{
    font-size: 2.1vw;
    margin: 0.5vw;
    margin-top: 3vw;
    text-align: center;
}
#minecraft-top-dirt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(kepek/minecraft-4.png);
    background-size: 20%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}
#minecraft-top-dirt-top{
    overflow: hidden;
}
#minecraft-top-dirt-top img{
    height: 8vw;
    width: auto;
    float: left;
    margin: 0.8vw;
    box-shadow: 0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.7); /* Horizontal offset, vertical offset, blur radius, shadow color */
}
#minecraft-top-dirt-top p{
    margin-top: 1.5vw;
    font-size: 1.6vw;
}
#minecraft-top-dirt-bottom{
    overflow: hidden;
}
#minecraft-top-dirt-bottom img{
    height: 8vw;
    width: auto;
    float: right;
    margin: 0.8vw;
    box-shadow: 0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.7); /* Horizontal offset, vertical offset, blur radius, shadow color */
}
#minecraft-top-dirt-bottom p{
    text-align: right;
    margin-top: 1.5vw;
    font-size: 1vw;
}
#minecraft-favs {
    text-align: center !important;
    line-height: 2vw;
    mix-blend-mode: difference;
}
#minecraft-favs a{
    text-decoration: none;
}
#minecraft-bottom{
    background-image: url(kepek/minecraft-3.png);
    background-size: 20%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.stone-block{
    background-image: url(kepek/minecraft-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    user-select: none;
}
.diamond-block{
    background-image: url(kepek/minecraft-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    user-select: none;
}
.stone-block>img, .diamond-block>img{
    pointer-events: none;
}







#taboo-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#taboo-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#taboo-titlecard>h1{
    color:#f28bb8;
    mix-blend-mode: normal;
    filter: blur(0.05vw);
    position: relative;
    font-size: 21vw;
    margin-top: 0vw;
    margin-bottom: -4vw;
    line-height: 1.3;
    font-family: "taboofont";
}
#taboo-13{
    font-family: "tabooshadowfont";
}
#taboo-titlecard>h2{
    color:#afafaf;
    mix-blend-mode: normal;
    position: relative;
    font-size:2vw;
}
#taboo-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
#taboo-article-article{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #030303;
    transition: background-color 0.8s ease-in-out;
    overflow: hidden;
}
#taboo-article-article *{
    text-decoration: none;
}

.taboo-carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.taboo-carousel>.sound-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    z-index: 10;
    mix-blend-mode: difference;
}
.taboo-carousel>.sound-container>.sound-button{
    position: absolute; /* or absolute, fixed, sticky */
    z-index: 9; /* Higher value = appears on top */
}
.taboo-carousel-container {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}
.taboo-carousel-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.taboo-prev, .taboo-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    mix-blend-mode: difference;
    border: none;
    padding: 1vw;
    cursor: pointer;
    font-size: 5vw;
}
.taboo-prev {
    left: 1vw;
}
.taboo-next {
    right: 1vw;
}

.fade-out {
    opacity: 0;
}
#taboo-article-article-content{
    transition: opacity 0.8s ease-in-out;
    overflow: hidden;
    height: 100%;
}

#taboo-act3{
    padding: 1vw;
    background-image: url(kepek/taboo-16.png);
    background-size: cover;
    height: 100%;
}
#taboo-act3 *{
    color: white;
    font-family: "taboofont";
}
#taboo-act3 h1{
    text-align: center;
    font-size: 9vw;
}
#taboo-act3-pbox{
    padding-top: 1vw;
}
#taboo-act3-pbox img{
    float: right;
    width: 24vw;
    height: auto;
    border-radius: 2vw;
    border: 0.3vw solid white;
}
#taboo-act3-pbox p{
    font-size: 3vw;
    text-align: right;
    margin-right: 25vw;
}
#taboo-act3-tracks {
    padding-top: 5vw;
}
#taboo-act3-tracks *{
    font-size: 2.4vw;
}
.taboo-fav{
    font-weight: bolder;
    font-family: "tabooshadowfont" !important;
    color: #A8A8A8 !important;
}
.taboo-fav *{
    font-weight: bolder;
    font-family: "tabooshadowfont" !important;
    color: #A8A8A8 !important;
}

#taboo-act2{
    padding: 1vw;
    background-image: url(kepek/taboo-12.png);
    background-size: cover;
    height: 100%;

}
#taboo-act2 *{
    color: black;
    font-family: "taboofont";
}
#taboo-act2 h1{
    text-align: center;
    font-size: 9vw;
}
#taboo-act2-tracks {
    padding-top: 0vw;
    background-image: url(kepek/taboo-14.png);
    background-size: 40%;
    background-position: top 1vw right 0vw;
    background-repeat: no-repeat
}
#taboo-act2-tracks *{
    font-size: 2.4vw;
}
#taboo-act2-tracks p{
    margin-top: 0.2vw;
}
#taboo-act2-pbox{
    padding-top: 0vw;
}
#taboo-act2-pbox img{
    margin-top: 0.5vw;
    width: 100%;
    height: auto;
    border-radius: 1vw;
    border: 0.3vw solid black;
}
#taboo-act2-pbox p{
    margin-top: 0.5vw;
    font-size: 1.3vw;
    text-align: center;
}

#taboo-act1{
    padding: 1vw;
    height: 100%;
    background-image: url(kepek/taboo-13.png);
    background-size: 30%;
    background-position: top 0vw left 36.5vw;
    background-repeat: no-repeat;
}
#taboo-act1 *{
    color: black;
    font-family: "taboofont";
}
#taboo-act1 h1{
    text-align: center;
    font-size: 9vw;
    margin-top: 2vw;
}
#taboo-act1-tracks *{
    font-size: 2.4vw;
}
#taboo-act1-pbox img{
    float: right;
    width: 60%;
    height: auto;
    border-radius: 1vw;
    border: 0.3vw solid black;
}
#taboo-act1-pbox p{
    text-align: right;
    margin-right: 29vw;
    margin-top: 1vw;
    font-size: 2.6vw;
}
#taboo-act1-bottom-p {
    margin-top: 5vw !important;
    font-size: 1vw !important;
    text-align: left !important;
}
#taboo-act1-pbox{
    background-image: url(kepek/taboo-15.png) !important;
    background-position: bottom -5vw right 0vw;
    background-size: 40%;
    background-repeat: no-repeat;
}







#pc-warning{
    display: none;
    background-color: black;
    width: 100%;
    height: 100%;
}
#pc-warning>h1{
    font-size: 23vw;
    color: white;
    font-family:"iammusicfont";
    text-align: center;
}
#pc-warning-mark{
    color: red !important;
}
#pc-warning>button{
    background-color: black;
    border: none;
    color: rgb(4, 4, 4);
    font-size: 15vw;
    width:100%;
}






#blonde-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/blonde-credits2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#trench-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/trench-credits.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#iammusic-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/iammusic-credits3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#flume-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/hithisisflume-credits.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#heartbreak-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/808s&heartbreak-credits3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#minecraft-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/minecraft-credits2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#taboo-credits{
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0)), url(kepek/taboo-credits.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


