@font-face {
    font-family: "blondefont";
    src: url("fontok/Blonde.otf") format("opentype");
}
@font-face{
    font-family: "trenchfont";
    src: url("fontok/compactablkbt_black.ttf") format("truetype");
}
@font-face{
    font-family: "astroworldfont";
    src: url("fontok/Tomato\ Regular.ttf") format("truetype");
}
@font-face{
    font-family: "heartbreakfont";
    src: url("fontok/Engravers\'\ Gothic\ Regular.otf") format("opentype");
}
@font-face{
    font-family: "minecraftfont";
    src: url("fontok/Minecraftia-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "taboofont";
    src: url("fontok/Verve.ttf") format("truetype");
}
@font-face{
    font-family: "flumefont";
    src: url("fontok/EndlessJourneyJNL.ttf") format("truetype");
}
@font-face{
    font-family: "iammusicfont";
    src: url("fontok/Swiss\ 911\ Compressed\ Regular.otf") format("opentype");
}
@font-face{
    font-family: "helveticafont";
    src: url("fontok/Helvetica.ttf") format("truetype");
}
@font-face{
    font-family: "helveticaboldfont";
    src: url("fontok/Helvetica-Bold.ttf") format("truetype");
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "helveticafont", Helvetica, Arial, sans-serif;
    line-height: 1;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
.divider{
    height: 2vw;
    background-color: black;
}

body{
    background-color: black;
}
nav{
    height: 2vw;
    background-color: black;
}





#blonde-titlecard{
    height:30vw;
    text-align: center;
    position: relative; /* To position the video inside */
    overflow: hidden; /* Optional: To hide any video overflow */
}
#blonde-video{
    position: absolute; /* Position the video relative to the parent container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Offset the video by its own size to center it */
    width: 100%;
}
#blonde-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    line-height: 1.5;
    font-family: "blondefont", sans-serif;
}
#blonde-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#blonde-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#blonde-article-article{
    background-color: white;

    background-image: url(kepek/blonde-7.png);
    background-size: 70%;   
    background-repeat: no-repeat;
    background-position: top 2vw left 0vw;
}
#blonde-article-article-top{
    display: grid;
    grid-template-columns: auto 23vw;

    background-image: url(kepek/blonde-2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom 4vw left 2.4vw;
}
#blonde-article-article-top-left>h1{
    font-family: "helveticaboldfont";
    font-style: italic;
    font-size: 1.9vw;
    margin-top: 0.3vw;
}
#blonde-article-article-top-left>p{
    font-family: "helveticafont";
    font-size: 1.5vw;
    margin-top: 2.3vw;
    margin-left: 8vw;
    margin-right: 0.3vw;
    text-align: right;
}
#blonde-article-article-top-right{
    padding-top: 1vw;
}
#blonde-article-article-top-right>img{
    width: 22vw;
    height: auto;
}
#blonde-article-article-bottom{
    font-family: "helveticafont";
    text-align: right;
    margin-top: 1.5vw;
    margin-right: 5vw;
    font-size: 0.9vw;
}





#trench-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#trench-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#trench-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:12vw;
    margin-top: 2vw;
    margin-bottom:0px;
    line-height: 1.2;
    font-family: "trenchfont", sans-serif;
}
#trench-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#trench-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#trench-article-article{
    background-color: black;;
}

.parallax-container {
    border-left: 6vw solid black;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.parallax-bg {
    position: absolute;
    top: 0vw;
    left: 0;
    width: 100%;
    height: 168%; /* Larger to allow movement */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('kepek/trench-5.png');
    background-size: cover;
    background-position: center;
    transform: translateY(0); /* Start at normal position */
    will-change: transform;
}






#iammusic-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#iammusic-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#iammusic-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size: 12vw;
    margin-top: 2vw;
    margin-bottom:0px;
    font-family: 'Times New Roman', Times, serif;
}
#iammusic-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#iammusic-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#iammusic-article-article{
    background-color: black;
    color: white;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}
#iammusic-article-article *{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
#iammusic-article-article>*{
    overflow: hidden;
    height:100%;
    width:100%;
}   
#iammusic-article-article-favorite *{
    font-size: 1vw;
    text-align: right;
}
#iammusic-article-article-favorite{
    height: 100%;
    width: 100%
}
#iammusic-article-article-favorite h1{
    margin-top: 70%;
}
#iammusic-article-article-p{
    font-size: 1vw;
    text-align: left;
    margin-top: 0.1vw;
    margin-right: 8vw;
    margin-left: 0.1vw;
    width: auto;
}
#iammusic-article-article-3words *{
    font-size: 3vw;
    font-family: "iammusicfont";
}
#iammusic-article-article-3words{
    padding-top: 3.5vw;
    padding-bottom: auto;
}




#hithisisflume-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#hithisisflume-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#hithisisflume-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:11vw;
    margin-top: 2vw;
    margin-bottom:0px;
    line-height: 1.1;
    font-family: "flumefont";
}
#hithisisflume-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#hithisisflume-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#hithisisflume-article-article{
    background-color: red;
}





#astroworld-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#astroworld-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#astroworld-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:10vw;
    margin-top: 3vw;
    margin-bottom:0px;
    line-height: 1.1;
    font-family: "astroworldfont";
}
#astroworld-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#astroworld-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#astroworld-article-article{
    background-color: black;
}





#heartbreak-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#heartbreak-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#heartbreak-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:6vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    line-height: 1.3;
    font-family: "heartbreakfont";
    letter-spacing: 1.5vw;
}
#heartbreak-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#heartbreak-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#heartbreak-article-article{
    background-color: rgb(0, 0, 0);
}





#minecraft-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#minecraft-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#minecraft-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:5vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    line-height: 1.7;
    font-family: "minecraftfont";
}
#minecraft-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#minecraft-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#minecraft-article-article{
    background-color: rgb(0, 0, 0);
}





#taboo-titlecard{
    height:30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#taboo-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#taboo-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size: 21vw;
    margin-top: 0vw;
    margin-bottom: -4vw;
    line-height: 1.3;
    font-family: "taboofont";
}
#taboo-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#taboo-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#taboo-article-article{
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(kepek/taboo-3.png);
    background-size: 165%;   
    background-repeat: no-repeat;
    background-position: center;
}


.taboo-carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
/*     height: 49.6vw;
    width: auto; */
    overflow: hidden;
}
.taboo-carousel-container {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}
.taboo-carousel-image {
    height: 49.43vw;
    width: auto;
    object-fit: cover;
}
#taboo-article button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    mix-blend-mode: difference;
    border: none;
    padding: 1vw;
    cursor: pointer;
    font-size: 3vw;
}
.taboo-prev {
    left: 1vw;
}
.taboo-next {
    right: 1vw;
}








