@font-face {
    font-family: "blondefont";
    src: url("fontok/Blonde.otf") format("opentype");
}
@font-face{
    font-family: "trenchfont";
    src: url("fontok/compactablkbt_black.ttf") format("truetype");
}
@font-face{
    font-family: "astroworldfont";
    src: url("fontok/Tomato\ Regular.ttf") format("truetype");
}
@font-face{
    font-family: "heartbreakfont";
    src: url("fontok/Engravers\'\ Gothic\ Regular.otf") format("opentype");
}
@font-face{
    font-family: "minecraftfont";
    src: url("fontok/Minecraftia-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "taboofont";
    src: url("fontok/Verve.ttf") format("truetype");
}
@font-face{
    font-family: "flumefont";
    src: url("fontok/EndlessJourneyJNL.ttf") format("truetype");
}
@font-face{
    font-family: "iammusicfont";
    src: url("fontok/Swiss\ 911\ Compressed\ Regular.otf") format("opentype");
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
.divider{
    height: 2vw;
    background-color: black;
}


body{
    background-color: black;
}
nav{
    height: 2vw;
    background-color: black;
}



#blonde-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative; /* To position the video inside */
    overflow: hidden; /* Optional: To hide any video overflow */
}
#blonde-video{
    position: absolute; /* Position the video relative to the parent container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Offset the video by its own size to center it */
    width: 100%;
}
#blonde-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size: 10vw;
    margin-bottom:5vw;
    font-family: "blondefont", sans-serif;
}
#blonde-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#blonde-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#blonde-article-article{
    background-color: white;
}




#trench-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}
#trench-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#trench-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:12vw;
    margin-bottom:0px;
    font-family: "trenchfont", sans-serif;
}
#trench-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#trench-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#trench-article-article{
    background-color: yellow;
}




#iammusic-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}
#iammusic-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#iammusic-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size: 12vw;
    margin-bottom:0px;
    font-family: 'Times New Roman', Times, serif;
}
#iammusic-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#iammusic-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#iammusic-article-article{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#iammusic-article-article *{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
#iammusic-article-article-favorite *{
    font-size: 1vw;
    text-align: right;
}
#iammusic-article-article-favorite{
    margin-bottom: 0.1vw;
    margin-right: 0.1vw;
}
#iammusic-article-article-p{
    font-size: 1vw;
    text-align: left;
    margin-top: 0.1vw;
    margin-right: 8vw;
    margin-left: 0.1vw;
}
#iammusic-article-article-3words *{
    font-size: 2.9vw;
    font-family: "iammusicfont";
}




#hithisisflume-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}
#hithisisflume-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#hithisisflume-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:11vw;
    margin-bottom:0px;
    font-family: "flumefont";
}
#hithisisflume-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#hithisisflume-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#hithisisflume-article-article{
    background-color: red;
}




#astroworld-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}
#astroworld-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#astroworld-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:10vw;
    margin-bottom:0px;
    font-family: "astroworldfont";
}
#astroworld-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#astroworld-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#astroworld-article-article{
    background-color: black;
}




#heartbreak-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}
#heartbreak-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#heartbreak-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:6vw;
    margin-top: 3vw;
    margin-bottom:2vw;
    font-family: "heartbreakfont";
    letter-spacing: 1.5vw;
}
#heartbreak-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#heartbreak-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#heartbreak-article-article{
    background-color: rgb(0, 0, 0);
}




#minecraft-titlecard{
    height:30vw;
    text-align: center;
    padding: 2vw;
    position: relative;
    overflow: hidden;
}
#minecraft-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#minecraft-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    margin-top:1vw;
    font-size:5vw;
    margin-bottom:0px;
    font-family: "minecraftfont";
}
#minecraft-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#minecraft-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#minecraft-article-article{
    background-color: rgb(0, 0, 0);
}




#taboo-titlecard{
    height:30vw;
    text-align: center;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
#taboo-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
#taboo-titlecard>h1{
    color:white;
    mix-blend-mode: difference;
    font-size:17vw;
    margin-bottom:0px;
    font-family: "taboofont";
}
#taboo-titlecard>h2{
    color:white;
    mix-blend-mode: difference;
    font-size:2vw;
}
#taboo-article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#taboo-article-article{
    background-color: rgb(0, 0, 0);
}





